.App {
  margin: 50px auto;
  max-width: 1024px;
}

.toast {
  position: fixed;
  top: 50px;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  border-radius: 2px;
  right: 50px;
  z-index: 999;
}

.toast.error {
  background-color: rgba(255,0,0,0.75);
}

.layer {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 99;
}
.pickItem{
  position: fixed;
  min-width: 200px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 0;
}
.pickItem h2{
  padding: 5px 20px 15px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.pickItem li{
  padding: 2px 20px;
}
.pickItem li:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.billingPanel, .cartPanel {
  background-color: #fff;
  margin: 25px 0;
  padding: 15px 30px 60px 30px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
textarea {
  resize: none;
}
.mobileOnly{
  display: none;
}
.cartHeader{
  border-bottom: 1px solid #f0f0f0;
}
.cartHeader>div{
  font-size: 13px;
  margin-bottom: 5px;
}
.cartItem{
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.cItem {
  margin: 15px;
}
button{
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  outline: none;
  text-transform: uppercase;
}
button.red {
  background-color: red;
  color: #fff;
}
button.blue {
  background-color: cornflowerblue;
  color: #fff;
}
button.update {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 13px;
}
button.addItem{
  margin: 10px 0;
}
.inputBox{
  border: 1px solid #e0e0e0;
  padding: 4px 10px;
  border-radius: 1px;
  margin: 5px 0;
  width: 100%;
}
input:disabled, textarea:disabled {
  background: #f0f0f0;
}
input.dateIco{
  width: 50%;
  padding: 10px;
}
.dateBox{
  margin-top: 20px;
}
.btnSelection{
  display: flex;
}
.btnSelection button{
  margin: 5px 0;
}
.cartAction{
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 599px) {
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
  .cartItem{
    margin: 25px 0;
  }
}
@media only screen and (min-width: 600px) {
  .row{
    display: flex;
  }
  .leftPanel{
    margin-right: 50px;
  }
  .leftPanel, .rightPanel{
    width: 275px;
  }
  .fifteen{
    min-width: calc(15% - 30px);
    max-width: calc(15% - 30px);
  }
  .thirty{
    min-width: calc(30% - 30px);
    max-width: calc(30% - 30px);
  }
  .ten{
    min-width: calc(10% - 30px);
    max-width: calc(10% - 30px);
  }
}